<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021362559615-b42r3c0sbh5ui01m76e436ke6kf94hn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021362559615-b42r3c0sbh5ui01m76e436ke6kf94hn3</string>
	<key>API_KEY</key>
	<string>AIzaSyAbrJAjRTealXtgtFdMGCis1VTe65mP5MA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021362559615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imagefeed</string>
	<key>PROJECT_ID</key>
	<string>social-app-ac019</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-ac019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021362559615:ios:d0bf991bda5c98c7083d4a</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-ac019.firebaseio.com</string>
</dict>
</plist>